@using DominosPizza.Models
@model List<OrderTable>
@{
    ViewBag.Title = "Cart";
    
}

<h2>Ваш заказ </h2>
<div class="row">
    <div class="col-sm-6">
        <br>

        <div class="well content kitchen">

                        @{var list = ViewBag.cartList;}

                        <br />
 <!--                   <form method="post" enctype="multipart/form-data" action="/Delivery/DeliveryReadyTask">
                        <input class="btn btn-danger" type="submit" value="пересчитать" />    
                        </form>-->
            <div>@{ Html.RenderPartial("_OrderTablePartial", Model); }</div>
                    </div>

<!--ПЛЮС,МИНУС,СКИДКА----->
<script type="text/javascript">
    var i = 0;
            
            function plus(id) {
                var uid = parseInt(id.slice(5));
                var tdam = document.getElementById("tdamount-" + uid); 
                var am = document.getElementById("amount-" + uid); 
                var preSum = document.getElementById("preSum-" + uid); 
                var preSumValue = document.getElementById("preSumValue-" + uid); 
                var price = document.getElementById("price-" + uid); 
                var itogValue = document.getElementById("itogValue"); 
                var itogVisible = document.getElementById("itogVisible"); 
                var totalQVisible = document.getElementById("totalQVisible");
                var totalQValue = document.getElementById("totalQValue");
                var totalQ = parseInt(totalQValue.value, 10);
                if (i == 0)
                {
                    var itog = parseFloat(itogValue.value, 10); 
                    am.value = parseInt(am.value, 10) + 1; 
                    tdam.innerHTML = am.value; 
                    var preSumNum = parseInt(preSumValue.value, 10) + parseInt(price.value, 10); 
                    preSum.innerHTML = preSumNum;
                    preSumValue.value = preSumNum; 
                    itog = itog + parseInt(price.value, 10); 
                    itog = itog.toFixed(2);
                    itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>"; 
                    itogValue.value = itog; 
                    totalQ = totalQ + 1;
                    totalQVisible.innerHTML = totalQ;
                    totalQValue.value = totalQ;
                    document.getElementById("message").innerHTML = "";
                }
                else if (i == 1)
                {
                    var itog = parseFloat(itogValue.value, 10); 
                    am.value = parseInt(am.value, 10) + 1; 
                    tdam.innerHTML = am.value; 
                    var preSumNum = parseInt(preSumValue.value, 10) + parseInt(price.value, 10); 
                    preSum.innerHTML = preSumNum;
                    preSumValue.value = preSumNum; 
                    itog = itog / 90 * 100;
                    itog = itog + parseInt(price.value, 10); 
                    itog = itog.toFixed(2);
                    itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>"; 
                    itogValue.value = itog; 
                    totalQ = totalQ + 1;
                    totalQVisible.innerHTML = totalQ;
                    totalQValue.value = totalQ;
                    document.getElementById("message").innerHTML = "";
                    i = 0;
                }
                else
                {
                    var itog = parseFloat(itogValue.value, 10); 
                    am.value = parseInt(am.value, 10) + 1; 
                    tdam.innerHTML = am.value; 
                    var preSumNum = parseInt(preSumValue.value, 10) + parseInt(price.value, 10); 
                    preSum.innerHTML = preSumNum;
                    preSumValue.value = preSumNum; 
                    itog = itog / 85 * 100;
                    itog = itog + parseInt(price.value, 10); 
                    itog = itog.toFixed(2);
                    itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>"; 
                    itogValue.value = itog; 
                    totalQ = totalQ + 1;
                    totalQVisible.innerHTML = totalQ;
                    totalQValue.value = totalQ;
                    document.getElementById("message").innerHTML = "";
                    i = 0;
                }
            }
            function minus(id) {
                var uid = parseInt(id.slice(5));
                var tdam = document.getElementById("tdamount-" + uid);
                var am = document.getElementById("amount-" + uid); 
                var preSum = document.getElementById("preSum-" + uid); 
                var preSumValue = document.getElementById("preSumValue-" + uid); 
                var price = document.getElementById("price-" + uid);
                var itogValue = document.getElementById("itogValue"); 
                var itogVisible = document.getElementById("itogVisible");
                var totalQVisible = document.getElementById("totalQVisible");
                var totalQValue = document.getElementById("totalQValue");
                var totalQ = parseInt(totalQValue.value, 10);
                var j = parseInt(am.value, 10);
                if (j > 1)
                {
                    if (i == 0) {
                        var itog = parseFloat(itogValue.value, 10);
                        am.value = j - 1;
                        tdam.innerHTML = am.value;
                        var preSumNum = parseInt(preSumValue.value, 10) - parseInt(price.value, 10);
                        preSum.innerHTML = preSumNum;
                        preSumValue.value = preSumNum;
                        itog = itog - parseInt(price.value, 10);
                        itog = itog.toFixed(2);
                        itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>";
                        itogValue.value = itog;
                        totalQ = totalQ - 1;
                        totalQVisible.innerHTML = totalQ;
                        totalQValue.value = totalQ;
                        document.getElementById("message").innerHTML = "";
                    }
                    else if (i == 1) {
                        var itog = parseFloat(itogValue.value, 10);
                        am.value = j - 1;
                        tdam.innerHTML = am.value;
                        var preSumNum = parseInt(preSumValue.value, 10) - parseInt(price.value, 10);
                        preSum.innerHTML = preSumNum;
                        preSumValue.value = preSumNum;
                        itog = itog / 90 * 100;
                        itog = itog - parseInt(price.value, 10);
                        itog = itog.toFixed(2);
                        itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>";
                        itogValue.value = itog;
                        totalQ = totalQ - 1;
                        totalQVisible.innerHTML = totalQ;
                        totalQValue.value = totalQ;
                        document.getElementById("message").innerHTML = "";
                        i = 0;
                    }
                    else {
                        var itog = parseFloat(itogValue.value, 10);
                        am.value = j - 1;
                        tdam.innerHTML = am.value;
                        var preSumNum = parseInt(preSumValue.value, 10) - parseInt(price.value, 10);
                        preSum.innerHTML = preSumNum;
                        preSumValue.value = preSumNum;
                        itog = itog / 85 * 100;
                        itog = itog - parseInt(price.value, 10);
                        itog = itog.toFixed(2);
                        itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>";
                        itogValue.value = itog;
                        totalQ = totalQ - 1;
                        totalQVisible.innerHTML = totalQ;
                        totalQValue.value = totalQ;
                        document.getElementById("message").innerHTML = "";
                        i = 0;
                    }
                }
                else
                {
                   // ничего не происходит! 
                }
               
                
            }
            
            function discount(id) //вычисляем скидку
            {
                var uid = parseInt(id.slice(5));
                var tdam = document.getElementById("tdamount-" + uid); 
                var am = document.getElementById("amount-" + uid); 
                var preSum = document.getElementById("preSum-" + uid); 
                var preSumValue = document.getElementById("preSumValue-" + uid); 
                var price = document.getElementById("price-" + uid); 
                var itogValue = document.getElementById("itogValue"); 
                var itogVisible = document.getElementById("itogVisible"); 
                var date = new Date(); 
                var totalQVisible = document.getElementById("totalQVisible");
                var totalQValue = document.getElementById("totalQValue");
                var totalQ = parseInt(totalQValue.value, 10);
                if (date.getDay() != 0 && date.getDay() != 6 && date.getHours() > 11 && date.getHours() < 16 && i==0) //если будни с 12ч до 15ч, то
                {
                    var itog = parseFloat(itogValue.value, 10);
                    itog = itog / 100 * 90; // вычисляем итоговую сумму с учетом скидки 10 %
                    itog = itog.toFixed(2);
                    itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>"; 
                    itogValue.value = itog;
                    document.getElementById("message").innerHTML = "Предоставлена скидка 10 %";
                    $("message").css("visibility", "visible");
                    i = 1;
                    
                }
                else if ((date.getDay() == 6 || date.getDay() == 0) && totalQ == 2 && i == 0) //если выходной день и в корзине 2 пиццы, то
                    
                {

                    var itog = parseFloat(itogValue.value, 10);
                    itog = itog / 100 * 85; // вычисляем итоговую сумму с учетом скидки 15 %
                    itog = itog.toFixed(2);
                    itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>"; 
                    itogValue.value = itog;
                    document.getElementById("message").innerHTML = "Предоставлена скидка 15 %";
                    $("message").css("visibility", "visible");
                    i = 2;
                    
                }
                else if ((date.getDay() == 6 || date.getDay() == 0) && totalQ != 2) //если выходной день и кол-во пицц в корзине не равно 2, то
                {
                    document.getElementById("message").innerHTML = "Для получения скидки по акции выберите 2 пиццы.";
                    $("message").css("visibility", "visible");
                    $("#dis-").css("visibility", "visible");
                }
                
                else 
                {
                    var itog = parseFloat(itogValue.value, 10);
                    itog = itog.toFixed(2);
                    itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>"; 
                    itogValue.value = itog;
                }

            }

        </script>
        <!--AJAX изменение кол-ва и скидка-->
        <script src="/Scripts/jquery-1.10.2.js"></script> 
        <script type="text/javascript">
            $(document).ready(function () {
                var date = new Date();
                var totalQVisible = document.getElementById("totalQVisible");
                var totalQValue = document.getElementById("totalQValue");
                var totalQ = parseInt(totalQValue.value, 10);
                if (date.getDay() != 0 && date.getDay() != 6 && date.getHours() > 11 && date.getHours() < 16) //сообщение об акции "сытный обед"
                {
                    document.getElementById("prom").innerHTML = "Сейчас действует акция \"Сытный обед\"";
                    $("#dis-").css("visibility", "visible");
                }
                else if (date.getDay() == 0 || date.getDay() == 6) //сообщение об акции "пицца выходного дня"
                {
                    document.getElementById("prom").innerHTML = "Сейчас действует акция \"Пицца выходного дня\"";
                    $("#dis-").css("visibility", "visible");
                }
                

                                
            });
            var c = 0;
            $("button").click(function (event) {

                if ($(this).hasClass("plus") || $(this).hasClass("mins") || $(this).hasClass("dels") || $(this).hasClass("dis-")) {
                    event.preventDefault();
                    var pid = parseInt(this.id.slice(5), 10);
                    var temp = "#val-" + pid;
                    var temp2 = "#amount-" + pid;
                    var priceEl = "#preSumValue-" + pid;
                    var price = parseInt($(priceEl).val());
                    var id = parseInt($(temp).val());
                    var qua = parseInt($(temp2).val());
                    var delqua = qua;

                    if ($(this).hasClass("dels"))
                    {
                       
                            qua = 0;
                            var temp3 = "#row-" + pid;
                            var x = parseInt($(temp3).children(":first").text(), 10);
                            $(temp3).nextAll().each(function (index) {
                                $(this).children(":first").text(index + x);
                            });
                            $(temp3).remove();
                            $("#totalQVisible").html(parseInt($("#totalQValue").val()) - delqua);
                            $("#totalQValue").val(parseInt($("#totalQValue").val()) - delqua);
                            if (i == 0)
                            {
                                $("#itogVisible").html(parseFloat(($("#itogValue").val()) - price)+".00" + "&nbsp;<span>&#8381;</span>");
                                $("#itogValue").val(parseFloat(($("#itogValue").val()) - price));
                                document.getElementById("message").innerHTML = "";
                                
                            }
                            else if (i == 1)
                            {

                                $("#itogVisible").html(parseFloat((($("#itogValue").val() / 90 * 100).toFixed(2)) - price)+".00" + "&nbsp;<span>&#8381;</span>");
                                $("#itogValue").val(parseFloat((($("#itogValue").val() / 90 * 100).toFixed(2)) - price));
                                document.getElementById("message").innerHTML = "";
                                i = 0;
                            }
                            else
                            {
                                $("#itogVisible").html(parseFloat((($("#itogValue").val()/85*100)) - price)+".00" + "&nbsp;<span>&#8381;</span>");
                                $("#itogValue").val(parseFloat((($("#itogValue").val() / 85 * 100)) - price));
                                document.getElementById("message").innerHTML = "";
                                i = 0;
                                
                            }
                        
                        
                    }
                    $.ajax({
                        url: "/Home/CartChangeQuantity",
                        dataType: "json",
                        data: {
                            productId: id,
                            amount: qua
                        },
                        type: "POST",
                        success: function (data) {
                            $("#cartindicator").html(data.Data);
                        }

                    });
                }
            });
        </script>



                    <p></p><br />
                    <div class="form-group-row">

                    </div>


                    <br />
                    <br />


                        </div>
    <div class="col-sm-6">
        <div class="form-group">
            <form method="post" enctype="multipart/form-data" action="/Home/NewTaskFromCart">
                <label for="test">Надо потестить с разными и одинаковыми данными</label><br />
                <label for="TaskDeliveryCustomerAddress">Адрес доставки</label><br />
                <input class="form-control" type="text" id="TaskDeliveryCustomerAddress" name="TaskDeliveryCustomerAddress" value="адрес клиента из интернет магазина" /><br />

                <label for="TaskDeliveryCustomerPhone">Телефон</label><br />
                <input class="form-control" type="text" id="TaskDeliveryCustomerPhone" name="TaskDeliveryCustomerPhone" value="+12internet90" /><br />

                <label for="TaskDeliveryCustomerName">ФИО</label><br />
                <input class="form-control" type="text" id="TaskDeliveryCustomerName" name="TaskDeliveryCustomerName" value="тестовое имя из интернета" /><br />

                <label for="TaskPaymentMethod">Способ платежа</label><br />
                <select class="form-control" id="TaskPaymentMethod" name="TaskPaymentMethod">
                    <option value="1">Картой на сайте</option>
                    <option value="2">Картой курьеру</option>
                    <option value="3">Наличными</option>
                </select>
                <br />
                <label for="TaskDeliveryCustomerName">Комментарий к заказу</label><br />
                <input class="form-control" type="text" id="CustomerComment" name="CustomerComment" value="Самый лучший комментарий" /><br />
                <input class="btn btn-danger" type="submit" value="отправить заказ" />
            </form>
        </div>
    </div>
</div>
<br /><br />
<div class="hrcustom"> </div>



