@{
    ViewBag.Title = "Dominos Pizza - Контактная информация";
}
<div class="body-content">
    <h1 class="h1-ua">@ViewBag.Message</h1>
    <div>
        <address class="h3-ua">
            185000, Республика Карелия,<br />
            г. Петрозаводск, ул. Шотмана, д.13<br />
            <abbr title="Phone">Tel:</abbr>
            555 - 555
        </address>
    </div>
    <div>
        <address class="h3-ua">
            <strong>Для писем:</strong>   <a href="mailto:Support@example.com">Support@dominospizza.com</a><br />
            <strong>Сотрудничество:</strong> <a href="mailto:Marketing@example.com">Marketing@dominospizza.com</a>

        </address>
    </div>
</div>