
@{
    ViewBag.Title = "Повар";
}

<h2>Повар</h2>

<h3>Должностная инструкция повара:</h3>
<h3>I. Общие положения</h3>
<p>1. Повар относится к категории работников подразделения производства, принимается и увольняется генеральным директором на основании приказов, трудового договора.</p>
<p>2. Основными задачами повара является приготовление блюд и кулинарных изделий, требующих кулинарной обработки определенной сложности.</p>
<p>3. Повар непосредственно подчиняется старшему смены цеха.</p>
<p>4. В своей деятельности повар руководствуется:</p>
<p>- нормативными актами РФ;</p>
<p>- приказами (указаниями) руководства;</p>
<p>- нормативно-технологическими картами приготовления блюд;</p>
<p>- настоящей должностной инструкцией.</p>
<p>5 На должность повара назначаются лица, имеющие специальное профессиональное образование и стаж работы не менее 3 лет на предприятиях общественного питания.</p>
<p>6 Повар принимает участие в решении вопросов, связанных:</p>
<p>- с развитием производственной деятельности;</p>
<p>- с применением и эксплуатацией теплового и холодильного оборудования;</p>
<p>- с техникой безопасности и охраной труда.</p>
<h3>II. Функции повара</h3>
<p>На повара производства возлагаются следующие функции:</p>
<p>1. Приготовление блюд и кулинарных изделий, подлежащих кулинарной обработке.</p>
<p>2. Порционирование и оформление заказных и фирменных блюд.</p>
<p>3. Соблюдение норм закладки продуктов и выхода блюд согласно нормативно-технологическим картам.</p>
<h3>III. Должностные обязанности повара</h3>
<p>Повар производства должен:</p>
<p>1. Выполнять работу по непрерывному производству блюд и кулинарных изделий.</p>
<p>2. Выполнять вспомогательные работы при изготовлении блюд и кулинарных изделий.</p>
<p>3. Производить варку, выпекание, жарку, протирание, процеживание, измельчение, замешивание, фарширование, формовку изделий.</p>
<p>4. Приготавливать блюда из овощей, рыбы и морепродуктов, мяса, мясных продуктов, сельскохозяйственной птицы, кролика в вареном, тушеном, жареном и запеченном виде, соусов, различных пассировок, горячих и холодных напитков.</p>
<p>5. При приеме смены следить за соответствием получаемых продуктов и полуфабрикатов свежести, меню, кондиции, стандартам вкуса, консистенции, форме нарезки, чистоте тары.</p>
<p>6. Содержать рабочие поверхности, холодильники, плиты и другое оборудование в чистоте и порядке, установленном на производстве.</p>
<p>После каждой операции убирать свое рабочее место.</p>
<p>7. При сдаче смены указывать наличие заготовки, делать заявку на получение продуктов, убирать рабочее место.</p>
<h3>IV. Права повара.</h3>
<p>Повар имеет право:</p>
<p>1. Запрашивать от соответствующих служб необходимую документацию для производственного процесса.</p>
<p>2. Принимать участие в проведении инвентаризации, снятии остатков, проверки технического и эксплуатационного состояния оборудования и инвентаря.</p>
<p>3. Вносить на рассмотрение руководства предложения по улучшению производственного процесса, расширению ассортимента блюд, повышению качества приготовляемой пищи.</p>
<p>4. Принимать решения по оперативным моментам в рамках своей должности.</p>
<h3>V. Ответственность повара</h3>
<p>Повар несет ответственность за:</p>
<p>1. Качество приготовляемых блюд, соответствие нормам выхода блюд.</p>
<p>2. Последовательность приготовления.</p>
<p>3. Соответствие приготовляемого блюда стандартам вкуса и оформления.</p>
<p>4. Соблюдение санитарно-гигиенических норм, техники безопасности.</p>
<p>5. Сохранность оборудования и инвентаря, документации, продуктов.</p>
<p>6. Несвоевременное и недобросовестное выполнение должностных обязанностей.</p>
<h3 class="h3-ua"><a class="dark-red-curved" href="~/Home/Vacancies">Назад</a></h3>