
@{
    ViewBag.Title = "Курьер";
}

<h2>Курьер</h2>

<h3>Должностная инструкция курьера:</h3>
<h3>I. Общие положения</h3>
<p>1. На должность курьера могут претендовать лица, достигшие совершеннолетия и имеющие оконченное среднее образование.</p>
<p>2. Данный сотрудник относится к категории обычных рабочих.</p>
<p>3. Данный сотрудник подчиняется непосредственно директору фирмы, а также старшему менеджеру по работе с клиентами.</p>
<p>4. Курьер обязан ознакомиться:</p>
<p>- с правилами приема и сдачи объекта доставки;</p>
<p>- с должностной инструкцией;</p>
<p>- приказами (указаниями) руководства;</p>
<p>- с трудовым распорядком, установленным в организации.</p>
<h3>II. Должностные обязанности</h3>
<p>1. В обязанности курьера входит:</p>
<p> - Исполнение приказов руководства.</p>
<p> - Доставка различного рода бумаг, посылок, переводов, грузов и так далее.</p>
<p> - Ведение списка адресов, по которым производилась доставка.</p>
<p> - Ведение учета расходов, пущенных для достижения поставленного задания.</p>
<p> - Контроль сохранности груза во время его транспортировки.</p>
<p>2. Курьер обязан выполнять все сроки и правила транспортировки, вплоть до мельчайших указаний заказчика.</p>
<p>3. В том случае, когда курьер не может выполнить одно из требований, он должен сообщить об этом вышестоящему руководству и обсудить с ним приемлемые пути решения проблемы.</p>
<p>4. Курьер должен с уважением относиться ко всем клиентам фирмы, а также делать все возможное, дабы ее репутации не пострадала.</p>
<h3>III. Права</h3>
<p>Курьер имеет право:</p>
<p>Вносить собственные предложения, направленные на улучшение его работы.</p>
<p>Интересоваться всеми нововведениями, затрагивающими трудовой распорядок фирмы.</p>
<p>Требовать от руководства соблюдения всех установленных правил, а также тех норм, что предписывает Трудовой кодекс Российской Федерации.</p>
<h3>IV. Ответственность курьера</h3>
<p>Курьер несет ответственность:</p>
<p>1. За халатное отношение к работе курьер может быть привлечен к административному наказанию или взысканию.</p>
<h3 class="h3-ua"><a class="dark-red-curved" href="~/Home/Vacancies">Назад</a></h3>