@{
    ViewBag.Title = "Dominos Pizza - Обратная связь";
}
<h1 class="h1-ua">@ViewBag.Message</h1>
<div class="row">

    <div class="col-md-7">
        <form method="post" action="/Home/SendMail">
            <label for="FeedbackName" class="col-xs-4">Ваше имя</label>
            <div class="col-xs-8">
                <input class="form-control" type="text" id="FeedbackName" name="FeedbackName" /><br />
            </div>

            <label for="ReplyEmail" class="col-xs-4">Ваш E-mail</label>
            <div class="col-xs-8">
                <input class="form-control" type="email" id="ReplyEmail" name="ReplyEmail" /> <br />
            </div>

            <label for="Subject" class="col-xs-4">Тема письма</label>
            <div class="col-xs-8">
                <input class="form-control" type="text" id="Subject" name="Subject" /> <br />
            </div>

            <label for="Body" class="col-xs-4">Текст сообщения</label>
            <div class="col-xs-8">
                <textarea class="form-control" rows="10" id="MailBody" name="Body"></textarea> <br />
            </div>

            <div class="col-xs-12 col-md-offset-4">

                <input class="btn btn-danger" type="submit" value="отправить" />


                <a class="feedback btn btn-danger" href="#" onclick="javascript: AddEmailFile();">Добавить Файл</a>

            </div>

        </form>
    </div>

    <div class="col-md-5">

        <div id="attachmentcontainer">

        </div>
    </div>
    <!--
        <div class="attachitem">
        <div class="attachdelete" onclick="javascript: $(this).parent().remove();">&nbsp;</div>
         <input class="form-control" name="attachment" type="file">
        </div>
        -->
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        function AddEmailFile() {

            var new_input = document.createElement("input");
            new_input.name = "attachment";
            new_input.className = "chosefile form-control";
            new_input.type = "file";
           
            var new_div = document.createElement('div');
            new_div.className = "attachdelete";
            new_div.onclick = function () { $(this).parent().remove(); };
            var div = document.createElement('div');
            div.className = "attachitem";

            div.appendChild(new_div);
            div.appendChild(new_input);

            $('#attachmentcontainer').append(div);


        }

    </script>

</div>

