
@{
    ViewBag.Title = "Менеджер";
}

<h2>Менеджер</h2>

<h3>Должностная инструкция менеджера:</h3>
<h3>I. Общие положения</h3>
<p>1. Должностная инструкция определяет должностные обязанности, полномочия и ответственность.</p>
<p>2. Менеджер по продажам назначается на должность и освобождается с должности в соответствии с действующим трудовым законодательством приказом генерального директора компании.</p>
<p>3. В период временного отсутствия менеджера по продажам его обязанности выполняет лицо, назначенное в установленном порядке. Данное лицо приобретает соответствующие права и несет ответственность за исполнение указанных обязанностей.</p>
<p>4. В своей работе руководствуется и должен знать:</p>
<p> - Структуру компании.</p>
<p> - Нормативные правовые акты, положения, инструкции, другие руководящие материалы, касающиеся рекламной деятельности.</p>
<p> - Законодательство о рекламе.</p>
<p> - Приемы и методы делового общения и ведения переговоров.</p>
<p> - Методы сбора и подготовки рекламных материалов.</p>
<p> - Требования к оформлению бланков объявлений.</p>
<p> - Основные характеристики оказываемых услуг.</p>
<p> - Действующие услуги и цены в прайсе.</p>
<p> - Требования к оформлению бухгалтерских счетов.</p>
<p> - Основы делового этикета, навыки ведения деловых (в т.ч. телефонных) переговоров.</p>
<p> - Правила и нормы охраны труда, техники безопасности и противопожарной защиты.</p>
<p> - Правила пользования оргтехникой и ПК.</p>
<p> - Правила внутреннего трудового распорядка.</p>
<h3>II. Должностные обязанности</h3>
<p>1. В обязанности менеджера входит:</p>
<p> - Осуществлять работу по предоставлению и продвижению рекламных услуг, соблюдая этические нормы.</p>
<p> - Заключать договора, определяющие характер и объем работ, которые необходимо выполнить, их оплату по действующим тарифам или условиям договора.</p>
<p> - Осуществлять поиск новых клиентов.</p>
<p> - При проведении рекламной работы учитывать мнение рекламодателя и его платежеспособность.</p>
<p> - Консультировать клиента, принимать новые заказы и изменения по тексту рекламы.</p>
<p> - Заполнять счета согласно требованиям бухгалтерии.</p>
<p> - Производить контроль выхода рекламы согласно гарантийным письмам клиента.</p>
<p> - Стимулировать рекламодателя повторно делать заказ на публикацию, оговаривая условия скидок при длительном заказе.</p>
<p> - Решать конфликтные ситуации с клиентами с последующей передачей информации менеджеру отдела прямых продаж.</p>
<p> - Заключать взаимовыгодные (для предприятия) сделки.</p>
<p> - Принимать участие в выставках и корпоративных мероприятиях.</p>
<p> - Стремится к повышению профессионального и личного роста, обучению, самосовершенствованию.</p>
<p> - Содержать свое рабочее место в порядке, так как это обеспечивает производительность и безопасность работы.</p>
<p> - Поддерживать позитивный моральный климат в команде, офисе. Проявлять взаимовыручку, ответственность, доверие, поддержку, оптимизм.</p>
<p> - Выполнять правила трудового распорядка, принятые в компании.</p>
<h3>III. Должностные полномочия</h3>
<p>1. Запрашивать от сотрудников и руководителей Подразделения информацию и документы, необходимые для выполнения своих должностных обязанностей.</p> 
<p>2. Знакомиться с документами, определяющими права и обязанности по занимаемой должности, критериями оценки качества исполнения должностных обязанностей.</p> 
<p>3. Вносить на рассмотрение руководства предложения по совершенствованию работы, связанной с предусмотренными настоящей инструкцией обязанностями.</p> 
<h3>IV. Должностная ответственность</h3>
<p>1. За невыполнение или ненадлежащее выполнение своих должностных обязанностей, предусмотренных настоящей инструкцией, – в пределах, установленных действующим трудовым законодательством Российской Федерации.</p>
<p>2. За неисполнение должностных обязанностей.</p>
<p>3. За нарушение правил внутреннего распорядка компании.</p>
<p>4. За нарушение деловой этики.</p>
<p>5. За нерациональное использование компьютерной техники.</p>
<p>6. За правонарушения, совершенные в процессе своей деятельности, установленные действующим законодательством Российской Федерации.</p>
<p>7. За предоставление недостоверной информации руководству.</p>
<p>8. За небрежное отношение к ведению документации.</p>









