@{
    ViewBag.Title = "DominosPizza - Публичная оферта";
}
<div class="container-ua">
    <h1 class="h1-ua">@ViewBag.Message</h1>
    <h3 class="h3-ua">1. Термины и&nbsp;определения</h3>
    <p>
        1.1. в&nbsp;настоящей оферте, если из контекста не&nbsp;следует иное, нижеприведенные термины с&nbsp;заглавной буквы имеют следующие значения.
    </p>
    <p>
        1.1.1. <strong>«Курьерская служба»</strong> - лица, оказывающие услуги по&nbsp;доставке Товаров от&nbsp;имени Продавца, или сотрудники Продавца.
    </p>
    <p>
        1.1.2. <strong>«Продавец»</strong> - юридическое лицо, Общество с ограниченной ответственностью "DominosPizza" (ИНН 0000000000, ОГРН 0000000000000), местонахождение по&nbsp;адресу: 185000, Республика Карелия, г.Петрозаводск, ул.Шотмана 13, созданное в&nbsp;соответствии с&nbsp;законодательством Российской Федерации и&nbsp;осуществляющее предпринимательскую деятельность по&nbsp;продаже Товаров, в&nbsp;том числе дистанционным способом.
        <br />Полное фирменное наименование и&nbsp;место нахождения Продавца указывается в&nbsp;настоящей оферте после выбора пиццерии на&nbsp;Сайте.
        <br />Адрес изготовления Товара указывается на&nbsp;Сайте, данный адрес соответствует выбранной пиццерии.
    </p>
    <p>
        1.1.3. <strong>«Покупатель»</strong> - любое дееспособное лицо, намеренное заказать или приобрести, либо заказывающий, приобретающий или использующий Товары исключительно для личных, семейных, домашних или иных нужд, не&nbsp;связанных с&nbsp;осуществлением предпринимательской деятельности.
    </p>
    <p>
        1.1.4. <strong>«Сайт»</strong> -  @Html.ActionLink("DominosPizza", "Index", "Home"), в&nbsp;том числе мобильное приложение.
    </p>
    <p>
        1.1.5. <strong>«Телефон»</strong> - 555 - 555.
    </p>
    <p>
        1.1.6. <strong>«Товары»</strong> - перечень продукции Продавца, представленный на&nbsp;Сайте. Потребительские свойства, срок годности Товара указаны на&nbsp;Сайте. Товары могут отличаться от&nbsp;изображения на&nbsp;Сайте.
    </p>
    <p>
        1.2. Для целей настоящей оферты термины и&nbsp;определения в&nbsp;единственном числе относятся также и&nbsp;к терминам и&nbsp;определениям во множественном числе.
    </p>

    <h3 class="h3-ua">2. Общие положения</h3>
    <p>
        2.1. Продавец и&nbsp;Покупатель гарантируют, что обладают необходимой право- и&nbsp;дееспособностью, а&nbsp;также всеми правами, необходимыми для заключения и&nbsp;исполнения договора розничной купли-продажи дистанционным способом.
    </p>
    <p>
        2.2. Покупатель обязуется ознакомиться с&nbsp;условиями настоящей оферты, с&nbsp;информацией, указанной на&nbsp;Сайте в&nbsp;отношении Товаров, с&nbsp;условиями участия в&nbsp;Программе лояльности, Политикой Конфиденциальности, Пользовательским соглашением.
    </p>
    <p>
        2.3. Продавец оставляет за собой право вносить изменения в&nbsp;настоящую оферту, в&nbsp;связи с&nbsp;чем Покупатель обязуется самостоятельно отслеживать наличие изменений в&nbsp;настоящей оферте. Редакции оферт, действовавшие до даты, указанной в&nbsp;названии настоящей оферты, предоставляются по&nbsp;запросу (по&nbsp;Телефону) или указаны на&nbsp;Сайте.
    </p>
    <p>
        2.4. при&nbsp;оформлении заказа Товаров Покупатель тем самым подтверждает, что он исполнил обязанности, предусмотренные пунктом 2.2. настоящей оферты.
    </p>
    <p>
        2.5. Договор розничной купли-продажи дистанционным способом считается заключенным с&nbsp;момента получения Продавцом сообщения о&nbsp;намерении Покупателя приобрести Товары.
    </p>
    <p>
        2.6. Срок, в&nbsp;течение которого действует предложение о&nbsp;заключении договора розничной купли-продажи дистанционным способом, является бессрочным.
    </p>

    <h3 class="h3-ua">3. Предмет Договора</h3>
    <p>
        3.1. Продавец продает Товары по&nbsp;ценам, представленным на&nbsp;Сайте Продавца, и&nbsp;доставляет Товар Курьерской службой, а&nbsp;Покупатель производит оплату и&nbsp;принимает Товары в&nbsp;соответствии с&nbsp;условиями настоящей оферты.
    </p>
    <p>
        3.2. Право собственности на&nbsp;Товары переходит к&nbsp;Покупателю в&nbsp;момент приемки Товаров Покупателем.
    </p>

    <h3 class="h3-ua">4. Уведомления Покупателя</h3>
    <p>
        4.1. Продавец вправе осуществлять рассылку уведомлений о&nbsp;проводимых акциях и&nbsp;рекламных материалов Пользователю по&nbsp;сетям электросвязи, при&nbsp;условии получения от&nbsp;Пользователя согласия на&nbsp;совершение указанных действий.
    </p>
    <p>
        4.2. Покупатель имеет право в&nbsp;любой момент отписаться от&nbsp;уведомлений, указанных в&nbsp;пункте 4.1. настоящей оферты, и&nbsp;подписаться на&nbsp;уведомления вновь.
    </p>
    <p>
        4.3. Продавец вправе совершать вызовы в&nbsp;адрес Пользователя в&nbsp;целях проведения маркетинговых исследований среди Покупателей и&nbsp;исследования предпочтений Покупателей; проведения розыгрышей призов среди Покупателей; проведения анализа оказываемых Продавцом услуг; урегулирования конфликтных ситуаций без&nbsp;получения от&nbsp;Пользователя согласия на&nbsp;совершение всех перечисленных выше действий.
    </p>
    <p>
        4.4. Продавец вправе отправлять сервисные сообщения, информирующие Покупателя о&nbsp;совершенном им заказе, его составе, этапах его обработки и&nbsp;о готовности заказа; такие сервисные сообщения отправляются автоматически, не&nbsp;могут быть отклонены Покупателем, направлены на&nbsp;контроль качества оказания услуг Покупателю и&nbsp;его информирование о&nbsp;надлежащем исполнении Продавцом своих обязательств по&nbsp;договору купли-продажи дистанционным способом.
    </p>

    <h3 class="h3-ua">5. Оформление заказа Товаров</h3>
    <p>
        5.1. Заказ Покупателя может быть оформлен по&nbsp;Телефону и/или посредством заполнения электронной формы заказа на&nbsp;Сайте.
    </p>
    <p>
        5.2. Покупатель обязуется предоставить достоверные данные, необходимые и&nbsp;достаточные для исполнения договора розничной купли-продажи Товаров дистанционным способом.
    </p>
    <p>
        5.3. в&nbsp;случае возникновения у&nbsp;Покупателя дополнительных вопросов, касающихся Товаров, перед оформлением Заказа, Покупатель должен обратиться к&nbsp;Продавцу по&nbsp;Телефону для получения необходимой информации, в&nbsp;соответствии с&nbsp;режимом работы, указанным на&nbsp;Сайте.
    </p>
    <p>
        5.4. Покупатель может заказать только те&nbsp;Товары, которые есть в&nbsp;наличии у&nbsp;Продавца в&nbsp;момент оформления заказа Товаров у&nbsp;Продавца.
    </p>
    <p>
        5.5. Покупатель не&nbsp;имеет право изменить состав заказа.
    </p>
    <p>
        5.6. при&nbsp;оформлении заказа по&nbsp;Телефону Продавец вправе осуществлять аудиозапись телефонного разговора с&nbsp;Пользователем, если указанные действия необходимы Продавцу для исполнения обязанностей, предусмотренных настоящей офертой, и&nbsp;оценки качества оказанных услуг, без&nbsp;получения от&nbsp;Пользователя согласия на&nbsp;совершение указанных действий.
    </p>
    <p>
        5.7. при&nbsp;оформлении заказа посредством заполнения электронной формы заказа на&nbsp;Сайте Покупатель создает учетную запись в&nbsp;соответствии с&nbsp;Пользовательским соглашением, указанным на&nbsp;Сайте.
    </p>
    <p>
        5.8. Если у&nbsp;Продавца отсутствует необходимое количество или ассортимент заказанных Покупателем Товаров, Продавец информирует об&nbsp;этом Покупателя по&nbsp;телефону в&nbsp;течение 60 минут после получения заказа Товаров от&nbsp;Покупателя. Покупатель вправе согласиться принять Товары в&nbsp;ином количестве или ассортименте, либо аннулировать свой заказ Товаров. в&nbsp;случае неполучения ответа Покупателя Продавец вправе аннулировать Заказ Покупателя в&nbsp;полном объеме.
    </p>
    <p>
        5.9. Продавец вправе временно приостановить прием заказов Товаров в&nbsp;случае технических неполадок, не&nbsp;позволяющих принять заказа Товаров, или отсутствия ингредиентов, необходимых для изготовления Товаров.
    </p>

    <h3 class="h3-ua">6. Доставка Товаров</h3>
    <p>
        6.1. Доставка Товаров осуществляется Курьерской службой по&nbsp;фактическому адресу, указанному Покупателем, при&nbsp;оформлении заказа или выборкой Товаров Покупателем (самовывозом).
    </p>
    <p>
        6.2. Доставка Товаров в&nbsp;пределах зоны доставки осуществляется в&nbsp;соответствии с&nbsp;режимом работы Продавца, указанным на&nbsp;Сайте.
    </p>
    <p>
        6.3. Доставка Товаров по&nbsp;адресам, не&nbsp;входящим в&nbsp;зону доставки, не&nbsp;осуществляется.
    </p>
    <p>
        6.4. Срок доставки заказа Товаров – 60 минут с&nbsp;момента принятия заказа Товаров. в&nbsp;случае нарушения установленных сроков доставки Товаров, в&nbsp;силу обстоятельств непреодолимой силы  («форс-мажор») в&nbsp;соответствии с&nbsp;Разделом 9 настоящей оферты Продавец не&nbsp;считается просрочившим доставку.
    </p>
    <p>
        6.5. Доставка осуществляется при&nbsp;условии заказа Товаров на&nbsp;сумму минимального заказа. Сумма минимального заказа определяется Продавцом в&nbsp;одностороннем порядке и&nbsp;указывается на&nbsp;Сайте.
    </p>
    <p>
        6.6. Продавец вправе отказаться от&nbsp;исполнения договора розничной купли-продажи дистанционным способом в&nbsp;том случае, если Курьерская служба по&nbsp;прибытии к&nbsp; фактическому адресу доставки Покупателя, не&nbsp;может осуществить фактическую передачу доставленных Товаров по&nbsp;вине Покупателя (Покупатель в&nbsp;течение 10 минут не&nbsp;отвечает на&nbsp; телефонный вызов или не&nbsp;открывает дверь Курьерской службе).
    </p>

    <h3 class="h3-ua">7. Оплата Товаров</h3>
    <p>
        7.1. Цены на&nbsp;Товары определяются Продавцом в&nbsp;одностороннем порядке и&nbsp;указываются на&nbsp;Сайте. Цена на&nbsp;заказанный Покупателем Товар изменению не&nbsp;подлежит.
    </p>
    <p>
        7.2. Оплата Товаров Покупателем производится в&nbsp;рублях Российской Федерации одним из следующих способов:
    </p>
    <p>
        7.2.1. оплата осуществляется по&nbsp;факту получения Товаров наличными денежными средствами, оплата наличными денежными средствами ограничена максимальной суммой. Максимальная сумма заказа, при&nbsp;которой возможна оплата наличными денежными средствами, определяется Продавцом в&nbsp;одностороннем порядке и&nbsp;указывается на&nbsp;Сайте. Заказ превышающий размер максимальной суммы оплачивается в&nbsp;соответствии с&nbsp;п.7.2.2. настоящей оферты;
    </p>
    <p>
        7.2.2. безналичными расчетами банковской картой на&nbsp;Сайте. в&nbsp;соответствии с&nbsp;положением ЦБ РФ "Об эмиссии банковских карт и&nbsp;об операциях, совершаемых с&nbsp;использованием платежных карт" № 266-П от&nbsp;24.12.2004 года операции по&nbsp;банковским картам совершаются держателем карты либо уполномоченным им лицом;
    </p>
    <p>
        7.2.3. безналичными расчетами банковской картой по&nbsp;факту получения Товаров, при&nbsp;условии оснащения Курьерской службы мобильными POS-терминалами (о наличии возможности произвести оплату Товаров данным способом следует уточнять у&nbsp;Продавца).
    </p>
    <p>
        7.3. Выдача либо направление Покупателю кассового чека:
    </p>
    <p>
        7.3.1.На бумажном носителе, в&nbsp;случае совершения заказа Товаров через Телефон и&nbsp;оплаты в&nbsp;порядке, предусмотренном пунктом 7.2.1 настоящей оферты, пунктом 7.2.3 настоящей оферты, если Покупатель в&nbsp;момент совершения заказа не&nbsp;сообщил Продавцу о&nbsp;желании получить кассовый чек в&nbsp;электронном виде, и&nbsp;не выполнил условия, предусмотренные пунктом 7.4.2 настоящей оферты.
    </p>
    <p>
        7.3.2. в&nbsp;электронном виде на&nbsp;электронную почту Покупателя, в&nbsp;случае совершения заказа Товаров через Сайт и&nbsp;оплаты Товаров в&nbsp;порядке, предусмотренном пунктом 7.2.2 настоящей оферты, если Покупатель выполнил условия пункта 7.4.1. настоящей оферты.
    </p>
    <p>
        7.3.3. в&nbsp;электронном виде способом, технически доступным для Продавца, в&nbsp;случае совершения заказа Товаров через Сайт и&nbsp;оплаты Товаров в&nbsp;порядке, предусмотренном пунктом 7.2.2 настоящей оферты, если Покупатель не&nbsp;выполнил условия пункта 7.4.1. настоящей оферты.
    </p>
    <p>
        7.4. Условия направления кассового чека в&nbsp;электронном виде:
    </p>
    <p>
        7.4.1. Внесение Покупателем данных об&nbsp;адресе электронной почты в&nbsp;личную учетную запись на&nbsp;Сайте при&nbsp;регистрации в&nbsp;порядке, предусмотренном Пользовательским соглашением;
    </p>
    <p>
        7.4.2. Внесение Покупателем данных об&nbsp;адресе электронной почты в&nbsp;личную учетную запись на&nbsp;Сайте при&nbsp;регистрации в&nbsp;порядке, предусмотренном Пользовательским соглашением, и&nbsp;при условии совершения Покупателем заказа Товаров с&nbsp;номера телефона, который идентичен номеру телефона, внесенному Покупателем в&nbsp;личной учетной записи на&nbsp;Сайте в&nbsp;порядке, предусмотренном Пользовательским соглашением.
    </p>

    <h3 class="h3-ua">8. Возврат и&nbsp;обмен Товаров</h3>
    <p>
        8.1. Возврат Товара надлежащего качества не&nbsp;допускается.
    </p>
    <p>
        8.2. Продавец обязан передать Покупателю Товары, которые полностью соответствуют его заказу, качество которых соответствует информации, представленной Покупателю при&nbsp;заключении договора розничной купли-продажи дистанционным способом, а&nbsp;также информации, доведенной до его сведения при&nbsp;передаче Товаров (на&nbsp;этикетке или вкладыше, прикрепленных к&nbsp;Товарам или их упаковке, либо другими способами, предусмотренными для отдельных видов Товаров).
    </p>
    <p>
        8.3. при&nbsp;получении Товаров Покупатель проверяет соответствие полученных Товаров своему заказу, комплектность и&nbsp;отсутствие претензий к&nbsp;внешнему виду доставленных Товаров в&nbsp;течение 10 (Десяти) минут после получения Товаров.
    </p>
    <p>
        8.4. в&nbsp;случае получения некачественных Товаров, либо несоответствия полученных Товаров заказанному (отсутствие заявленных ингредиентов в&nbsp;Товаре), Покупатель вправе потребовать замены таких Товаров Товарами надлежащего качества сразу в&nbsp;течение 5 (Пяти) минут после получения Товаров.
    </p>
    <p>
        8.5. в&nbsp;случае невыполнения порядка предъявления претензии Покупателя по&nbsp;внешнему виду Товаров и&nbsp;их комплектности, предусмотренных пунктом 8.3, пунктом 8.4 настоящей оферты, претензии не&nbsp;принимаются.
    </p>

    <h3 class="h3-ua">9. Форс-мажор</h3>
    <p>
        9.1. Любая из Сторон освобождается от&nbsp;ответственности за полное или частичное неисполнение своих обязательств по&nbsp;настоящей оферте, если это неисполнение было вызвано обстоятельствами непреодолимой силы. Обстоятельства непреодолимой силы означают чрезвычайные события и&nbsp;обстоятельства, которые Стороны не&nbsp;могли ни&nbsp;предвидеть, ни&nbsp;предотвратить разумными средствами. Такие чрезвычайные события или обстоятельства включают в&nbsp;себя, в&nbsp;частности: забастовки, наводнения, пожары, землетрясения и&nbsp;иные стихийные бедствия, войны, военные действия и&nbsp;так далее.
    </p>

    <h3 class="h3-ua">10. Ответственность Сторон публичной оферты</h3>
    <p>
        10.1. Продавец не&nbsp;несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования им Товаров, приобретённых у&nbsp;Продавца.
    </p>
    <p>
        10.2. Продавец не&nbsp;отвечает за убытки Покупателя, возникшие в&nbsp;результате неправильного заполнения Заказа, в&nbsp;том числе неправильного указания своих данных.
    </p>
    <p>
        10.3. в&nbsp;случае злоупотребления Покупателем правами потребителя, включая, но не&nbsp;ограничиваясь, если Покупатель отказался от&nbsp;приемки и/или оплаты заказанного и&nbsp;доставленного Товара, Продавец вправе реализовать свое право на&nbsp;самозащиту, а&nbsp;именно: не&nbsp;принимать от&nbsp;него будущие Заказы.
    </p>
    <p>
        10.4. в&nbsp;случае одностороннего отказа Продавца от&nbsp;исполнения договора розничной купли-продажи дистанционным способом в&nbsp;соответствии с&nbsp;пунктом 6.6. настоящей публичной оферты, Продавец вправе вправе реализовать свое право на&nbsp;самозащиту, взыскать убытки с&nbsp;Покупателя. в&nbsp;случае, если Покупатель оплатил Товар до его доставки, оплаченная сумма не&nbsp;возвращается.
    </p>
</div>