@{
    ViewBag.Title = "Resume";
}

<div class="body-content">
    <h1 class="h1-ua">@ViewBag.Message</h1>
    <form method="post" action="/Home/SendMail">
        <div class="form-group">
            <label for="FeedbackName" class="col-xs-2">Ваши ФИО</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="FeedbackName" name="FeedbackName" /><br />
            </div>
        </div>

        <div class="form-group">
            <label for="ReplyEmail" class="col-xs-2">Ваш E-mail</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="ReplyEmail" name="ReplyEmail" /> <br />
            </div>
        </div>

        <div class="form-group">
            <label for="Subject" class="col-xs-2">Тема письма</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="Subject" name="Subject" /> <br />
            </div>
        </div>

        <div class="form-group">
            <label for="Body" class="col-xs-2">Текст письма <h6>(В вашем резюме должны быть указаны обязательно: дата раожения, контактный телефон, город вашего проживания, род вашей деятельности, желаемая должность, желаемая з/п)</h6></label>
            <div class="col-xs-10">
                <textarea class="form-control" rows="10" id="MailBody" name="Body"></textarea> <br />
            </div>
        </div>
        <div class="feedback">
            <input class="btn btn-danger" type="submit" value="отправить" />
        </div>
    </form>
</div>

