@{
    ViewBag.Title = "DominosPizza - Правовая информация";
}
<div class="container-u">
    <h1 class="h1-ua">@ViewBag.Message</h1>
    <div class="flex-container flex-container-top">
        <div class="first">
            <img src="~/img/icon_txt-doc.svg" /><br>
            @Html.ActionLink("Оферта", "Offer", "Home")
        </div>

        <div class="second">
            <img src="~/img/icon_txt-doc.svg" /><br>
            @Html.ActionLink("Пользовательское соглашение", "UserAgreement", "Home")
        </div>
    </div>
</div>