@{
    ViewBag.Title = "Dominos Пицца - доставка пиццы, суши, бургеров и любой еды в городе Петрозаводске круглосуточно";
}
<div>
    <p></p>
</div>
<div class="jumbotron">
    <p>
        Правила
        Мы занимаемся доставкой пиццы и доставкой готовой еды вот уже 10й год! Благодаря большому опыту и профессионализму, наш сервис максимально отлажен! Мы по-настоящему любим наше дело и ценим время наших клиентов.

        Предлагаем вам доставку более 20 видов настоящей итальянской и американской пиццы, домашних пирогов, горячих и холодных закусок, салатов, wok-лапши и напитков. Наше меню постоянно пополняется.

        Вы можете заказать доставку пиццы домой или в офис для бизнес-ланча или празднования дня рождения коллеги. Наши пироги с ягодами, творогом и другими начинками станут прекрасным дополнением к любому семейному торжеству, в том числе, к свадебному столу.



        Правила доставки:
        1. Доставка - бесплатная (только стоимость вашего заказа).

        2. Сопутствующие товары (салаты, закуски, напитки) доставляются только вместе с пиццей/пирогами. Отдельно сопутствующие товары доставляются при сумме заказа на них не менее 350 руб.

        3. Кроме нашего ассортимента, мы предлагаем доставку блюд из меню пивного дома "Нойбранденбург" (в т.ч., комплексные обеды). Подробнее об этом можно узнать в разделе "Меню".

        3. Доставка осуществляется в черте Петрозаводска, существуют ограничения по отдаленным районам (уточняйте у диспетчера).

        4. Время работы:


        пн.-вс.: круглосуточно

        5. Срок доставки:  пицца 40-60 минут, пироги 1-1,5 часа.
        Время доставки вашего заказа может быть незначительно увеличено по независящим от нас причинам. Точное время доставки вам сообщит диспетчер.

        6. Каждая пицца (пирог) доставляется в индивидуальной упаковке, в специальной термосумке.

        7. Оплата осуществляется наличными курьеру при получении заказа. Принимаем к оплате банковские карты.

        8. Работаем с юридическими лицами по безналичному расчету.

        9. Всю дополнительную информацию Вы можете уточнить у диспетчера.

        10. Ваши отзывы и предложения присылайте на эл.адрес raush10@ya.ru
    </p>

</div>