@{
    ViewBag.Title = "Dominos Pizza - Акции";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<div>
    <h2 class="h1-ua" >Акции</h2>
    <ul>
        <li>
            <h3 class="h3-ua">Вкусные скидки на ваш праздник</h3>
            <img src="~/img/birthday.jpg"/>
            <p>
                Для веселого и вкусного праздника Dominos Pizza дарит скидки в День Рождения! <br />
                Закажи Пиццу-пирог со скидкой 30% или любую другую пиццу со скидкой 15%. <br />
                Внимание! Для получения скидки необходимо предъявить паспорт.
            </p>
        </li>
        <li>
            <h3 class="h3-ua">Сытный обед</h3>
            <img src="~/img/Lanch.jpg" />
            <p>
                Разбавь трудовые будни сытным обедом с любимой пиццей! <br />
                С понедельника по пятницу с 12.00 до 15.00 на все пиццы действует скидка 10%.
            </p>
        </li>
        <li>
            <h3 class="h3-ua">Пицца выходного дня</h3>
            <img src="~/img/weekend.jpg"/>
            <p>
                Выходные - время для приятных встреч! <br />
                В субботу и воскресенье предоставляется скидка 15 % при заказе двух пицц на выбор.
            </p>
        </li>
    </ul>
</div>
