@{
    ViewBag.Title = "Dominos Pizza - Пользовательское соглашение";
}
<div class="body-content">
    <h1 class="h1-ua">@ViewBag.Message</h1>

    <h3 class="h3-ua">1. Статус Пользовательского соглашения</h3>
    <p>
        1.1. Настоящее Пользовательское соглашение является юридически обязательным соглашением между Посетителем, Пользователем и&nbsp;Компанией, предметом которого является предоставление Компанией Посетителю, Пользователю доступа к&nbsp;ознакомлению с&nbsp;Сайтом и&nbsp;возможность использовать функционал Сайта для&nbsp;совершения заказа Товаров после регистрации Пользователя на&nbsp;Сайте.
    </p>
    <p>
        1.2. Посетитель и&nbsp;Пользователь обязаны полностью ознакомиться с&nbsp;настоящим Пользовательским соглашением до&nbsp;момента использования Сайта.
    </p>
    <p>
        1.3. Посетитель, Пользователь принимают условия настоящего Пользовательского соглашения, в&nbsp;полном объеме и&nbsp;без каких-либо изъятий.
    </p>
    <p>
        1.4. в&nbsp;случае несогласия с&nbsp;перечисленными условиями Посетитель и&nbsp;Пользователь должны воздержаться от&nbsp;использования Сайта.
    </p>

    <h3 class="h3-ua">2. Термины и&nbsp;определения</h3>
    <p>
        2.1. в&nbsp;настоящем Пользовательском соглашении, если из&nbsp;контекста не&nbsp;следует иное, нижеприведенные термины с&nbsp;заглавной буквы имеют следующие значения:
    </p>
    <p>
        2.1.1. <strong>«Компания»</strong> - юридическое лицо или индивидуальный предприниматель, осуществляющий  продажу Товаров, в&nbsp;том числе дистанционным способом через Сайт. в&nbsp;отношении настоящей редакции Пользовательского соглашения под&nbsp;«Компанией» следует понимать "Пицца Венчур" и/или его аффилированные лица, включая все лица, объединенные в&nbsp;рамках франчайзинговой сети под&nbsp;единой торговой маркой «Додо».
    </p>
    <p>
        2.1.2. <strong>«Посетитель»</strong> - любое дееспособное лицо, желающее ознакомится с&nbsp;содержанием Сайта, или намеренное заказать или приобрести Товары Компании исключительно для&nbsp;личных, семейных, домашних или иных нужд, не&nbsp;связанных с&nbsp;осуществлением предпринимательской деятельности.
    </p>
    <p>
        2.1.3. <strong>«Пользователь»</strong> -  Посетитель, который уже зарегистрирован на&nbsp;Сайте (имеет личную учетную запись).
    </p>
    <p>
        2.1.4. <strong>«Товары»</strong> - продукция Компании (в&nbsp;том числе сувенирная продукция Компании), представленная на&nbsp;Сайте.
    </p>
    <p>
        2.1.5. <strong>«Сайт»</strong> - страница Интернет-магазина, на&nbsp;которой размещен перечень продукции Компании, по&nbsp;следующему адресу: @Html.ActionLink("Dominos Pizza", "Index", "Home").
    </p>
    <p>
        2.2. для&nbsp;целей настоящего Пользовательского соглашения термины и&nbsp;определения в&nbsp;единственном числе относятся также и&nbsp;к терминам и&nbsp;определениям во множественном числе и&nbsp;наоборот.
    </p>

    <h3 class="h3-ua">3. Предмет Пользовательского Соглашения</h3>
    <p>
        3.1. Предметом настоящего Пользовательского соглашения являются порядок и&nbsp;правила использования функционала (сервисов) Сайта, установленные Компанией для&nbsp;Посетителей и&nbsp;Пользователей Сайта.
    </p>
    <p>
        3.2. Компания гарантирует Пользователям возможность совершить заказ Товаров и&nbsp;его оплату через Сайт только в&nbsp;случае исправной работы всех коммуникационных сетей и&nbsp;не несет ответственности за&nbsp;неисполнение заказа Товаров в&nbsp;случае технических проблем на&nbsp;Сайте.
    </p>

    <h3 class="h3-ua">4. Регистрация и&nbsp;предоставление услуг</h3>
    <p>
        4.1. для&nbsp;получения права оформить заказ Товаров через Сайт Пользователь обязуется осуществить регистрацию учетной записи Пользователя на&nbsp;Сайте.
    </p>
    <p>
        4.2. для&nbsp;регистрации на&nbsp;Сайте  Пользователю следует произвести следующие действия:
    </p>
    <p>
        4.2.1. ввести в&nbsp;форму абонентский номер телефона в&nbsp;федеральном формате +7 (ХХХ) ХХХ ХХ ХХ;
    </p>
    <p>
        4.2.2. указанный Пользователем при&nbsp;регистрации абонентский номер телефона будет использоваться в&nbsp;качестве имени Пользователя (логин) при&nbsp;использовании Сайта;
    </p>
    <p>
        4.2.3. ввести пароль, предоставляемый Пользователю в&nbsp;виде SMS-сообщения на&nbsp;указанный им абонентский номер;
    </p>
    <p>
        4.2.4. указать фамилию, имя, отчество; дату рождения; пол; адрес доставки; телефон; адрес электронной почты;
    </p>
    <p>
        4.3. Пользователь согласен на получение от Компании уведомлений о проводимых акциях и рекламных материалов по сетям электросвязи. Согласие может быть отозвано Пользователем в&nbsp;любой момент путем отказа от получения уведомлений в&nbsp;личном кабинете или направления отказа Компании.
    </p>
    <p>
        4.4. в&nbsp;случае несогласия с&nbsp;перечисленными условиями Пользователь должен воздержаться от&nbsp;использования сервисов Сайта.
    </p>
    <p>
        4.5. Пользователю запрещается передавать данные своей учетной записи третьим лицам. в&nbsp;случае передачи Пользователем своего логина и(или) пароля третьему лицу, Пользователь несет ответственность за&nbsp;несанкционированные действия третьего лица, как за&nbsp;свои собственные.
    </p>
    <p>
        4.6. Пользователь несет ответственность за&nbsp;точность и&nbsp;правильность, полноту и&nbsp;достоверность указания своих личных данных при&nbsp;регистрации учетной записи на&nbsp;Сайте и&nbsp;за последствия в&nbsp;виде убытков, которые могут возникнуть у&nbsp;Пользователя, в&nbsp;случае некорректного ввода указанных сведений.
    </p>
    <p>
        4.7. Пользователь обязан незамедлительно уведомить Компанию о любом случае несанкционированного доступа к&nbsp;учетной записи Пользователя, а&nbsp;также о любом случае нарушения безопасности своего логина и&nbsp;пароля (утеря, передача данных третьим лицам, другое).
    </p>
    <p>
        4.8. Любые действия, совершенные на&nbsp;Сайте с&nbsp;использованием логина и&nbsp;пароля Пользователя, считаются совершенными соответствующим Пользователем.
    </p>
    <p>
        4.9. Пользователь несет личную ответственность за&nbsp;любую информацию, которая размещается на&nbsp;Сайте посредством его учетной записи.
    </p>

    <h3 class="h3-ua">5. Условия использования информации, размещенной на&nbsp;Сайте</h3>
    <p>
        5.1. Сайт включает,но не&nbsp;ограничивается, следующим: тексты, фотографии, графические изображения, товарные знаки и&nbsp;иные, охраняемые законом, материалы.
    </p>
    <p>
        5.2. Все содержание Сайта охраняется авторским правом в&nbsp;соответствии с&nbsp;действующим гражданским законодательством Российской Федерации.
    </p>
    <p>
        5.3. Авторское право на&nbsp;использование содержания Сайта принадлежит Компании.
    </p>
    <p>
        5.4. Компания предоставляет Посетителю и/или Пользователю неисключительную лицензию на&nbsp;использование содержания Сайта в&nbsp;пределах, установленных настоящим Пользовательским соглашением.
    </p>
    <p>
        5.5. Посетитель и/или Пользователь обязуется использовать Сайт только в&nbsp;законных целях и&nbsp;способами, не&nbsp;нарушающим права третьих лиц.
    </p>
    <p>
        5.6. Компания не&nbsp;несет ответственность за&nbsp;вред, причиненный технике Посетителя и/или Пользователя в&nbsp;случае, если это произошло в&nbsp;результате перехода по&nbsp;гипертекстуальным ссылкам, размещенным на&nbsp;Сайте.
    </p>

    <h3 class="h3-ua">6. Полномочия Компании</h3>
    <p>
        6.1. Компания оставляет за&nbsp;собой право без&nbsp;какого-либо специального уведомления вносить изменения в&nbsp;настоящее Пользовательское соглашение, в&nbsp;связи с&nbsp;чем Посетитель и/или Пользователь обязуется самостоятельно контролировать наличие изменений в&nbsp;настоящим Пользовательском соглашении. Новая редакция Пользовательского соглашения вступает в&nbsp;силу с&nbsp;момента ее размещения, если иное не&nbsp;предусмотрено новой редакцией Пользовательского соглашения. Действующая редакция Пользовательского соглашения находится на&nbsp;Сайте.
    </p>
    <p>
        6.2. Компания оставляет за&nbsp;собой право изменять Сайт, в&nbsp;том числе изменять или добавлять в&nbsp;его структуру разделы, менять дизайн и&nbsp;совершать прочие действия, направленные на&nbsp;повышение функциональности Сайта и&nbsp;удобства совершения заказа Товаров Пользователями и&nbsp;ознакомления Посетителя и/или Пользователя с&nbsp;информацией, размещенной Компанией на&nbsp;Сайте.
    </p>
    <p>
        6.3. Компания вправе произвести блокировку, исключение, удаление информации, размещенной Пользователем, без&nbsp;согласия последнего, если такая информация не&nbsp;отвечает требованиям действующего российского законодательства и&nbsp;положениям настоящего Пользовательского соглашения.
    </p>
    <p>
        6.4. Компания вправе произвести приостановление оказания услуг пользования Сайтом, либо отказать Пользователю в&nbsp;возможности использования отдельных ресурсов Сайта, либо отменить регистрацию учетной записи Пользователя, если у&nbsp;Компании есть основания полагать, что предоставленная Пользователем информация о своих персональных данных неверна (искажена, недостоверна).
    </p>
    <p>
        6.5. Компания вправе осуществить действия по&nbsp;удалению учетной записи Пользователя в&nbsp;случае систематического нарушения последним положений настоящего Пользовательского соглашения.
    </p>

    <h3 class="h3-ua">7. Технологии, используемые Компанией на&nbsp;Сайте</h3>
    <p>
        7.1. Компания вправе использовать технологию «cookie» для&nbsp;сохранения информации об&nbsp;ip-адресе Посетителей и&nbsp;Пользователей Сайта. «Cookie» не&nbsp;используются для&nbsp;сохранения конфиденциальной информации о Посетителях и&nbsp;Пользователях Сайта и&nbsp;не направлены на&nbsp;установление личности Посетителя и&nbsp;Пользователей Сайта. Вся информация, которая собирается и&nbsp;анализируется, анонимна.
    </p>
    <p>
        7.2. Использование технологии «cookie» представляет собой размещение на&nbsp;Сайте определенного набора символов  (знаков), которые сохраняются на&nbsp;компьютере (далее - “устройство”, с&nbsp;которого был выполнен вход на&nbsp;Сайт) Посетителей и&nbsp;Пользователей Сайта, при&nbsp;доступе к&nbsp;определенным местам Сайта.
    </p>
    <p>
        7.3. Файлы «cookie», которые размещаются на&nbsp;устройстве Посетителя и/или Пользователя администрацией Сайта dodopizza.ru, называются “собственными”. Файлы «cookie», которые размещаются на&nbsp;устройстве Посетителя и/или Пользователя другими операторами, называются файлами «третьих лиц».
    </p>
    <p>
        7.4. Собственные файлы «cookie», используемые Компанией:
    </p>
    <p>
        7.4.1. SessionId - сессия на&nbsp;Сайте. Позволяет перемещаться по&nbsp;Сайту без&nbsp;необходимости совершения повторного входа, повторного добавления продуктов и&nbsp;товаров в&nbsp;корзину, повторного выбора города (адреса места нахождения), повторного выбора адреса доставки или самовывоза.
    </p>
    <p>
        7.4.2. SessionIdTemp - сессия на&nbsp;Сайте. Позволяет перемещаться по&nbsp;Сайту без&nbsp;необходимости совершения повторного входа, повторного добавления продуктов и&nbsp;товаров в&nbsp;корзину, повторного выбора города (адреса места нахождения), повторного выбора адреса доставки или самовывоза.
    </p>
    <p>
        7.4.3. DodoClient - идентификатор Пользователя. Позволяет возвращаться на&nbsp;Сайт без&nbsp;необходимости совершения повторного входа и&nbsp;повторного ввода адреса места нахождения Пользователя и/или Посетителя. Позволяет Пользователям, зарегистрированным на&nbsp;Сайте и&nbsp;участвующим в&nbsp;Программе Лояльности, видеть накопленные бонусы.
    </p>
    <p>
        7.4.4. DodoDepartment - идентификатор раздела Сайта (департамент). Позволяет при&nbsp;возвращении на&nbsp;Сайт видеть актуальный для&nbsp;Пользователя и/или Посетителя раздел Сайта (меню), без&nbsp;необходимости совершения повторного ввода города (адреса места нахождения) Пользователя и/или Посетителя, адреса доставки или самовывоза.
    </p>
    <p>
        7.4.5. DodoDepartmentLocality - идентификатор города Пользователя и/или Посетителя. Позволяет возвращаться и&nbsp;перемещаться по&nbsp;Сайту без&nbsp;необходимости совершения повторного выбора города (адреса места нахождения) Пользователя и/или Посетителя.
    </p>
    <p>
        7.4.6. Ai_Session - хранение информации об&nbsp;ошибках на&nbsp;Cайте. Позволяет администрации Сайта и&nbsp;разработчикам Сайта отслеживать и&nbsp;анализировать ошибки, происходящие на&nbsp;Сайте.
    </p>
    <p>
        7.4.7. Ai_User - хранение информации об&nbsp;ошибках на&nbsp;Cайте. Позволяет администрации Сайта и&nbsp;разработчикам Сайта отслеживать и&nbsp;анализировать ошибки, происходящие на&nbsp;Сайте.
    </p>
    <p>
        7.5. Файлы «cookie» третьих лиц:
    </p>
    <p>
        7.5.1. _ga;
    </p>
    <p>
        7.5.2. _gat;
    </p>
    <p>
        7.5.3. _gat_departmentTracker;
    </p>
    <p>
        7.5.4. _ym_isad;
    </p>
    <p>
        7.5.5. _ym_metrika_enabled;
    </p>
    <p>
        7.5.6. _ym_mp2_substs;
    </p>
    <p>
        7.5.7. _ym_uid;
    </p>
    <p>
        7.5.8. _ym_visorc.
    </p>
    <p>
        7.6. Цели применения Компанией технологии «cookie»:
    </p>
    <p>
        7.6.1. аутентификация (распознавание) Посетителей и&nbsp;Пользователей при&nbsp;повторном входе на&nbsp;Сайт;
    </p>
    <p>
        7.6.1. аналитическая деятельность по&nbsp;исследованию предпочтений Посетителей и&nbsp;Пользователей Сайта;
    </p>
    <p>
        7.6.2. статистика по&nbsp;активности Посетителей и&nbsp;Пользователей на&nbsp;Сайте;
    </p>
    <p>
        7.6.3. обработка заказов Пользователей на&nbsp;Сайте;
    </p>
    <p>
        7.6.4. повышение производительности и&nbsp;эффективности Сайта;
    </p>
    <p>
        7.6.5. аналитика и&nbsp;исправление ошибок Сайта, улучшение работы всех ресурсов Сайта;
    </p>
    <p>
        7.6.6. безопасность и&nbsp;целостность ресурсов Сайта.
    </p>
    <p>
        7.7. Файлы «cookie» устанавливаются на&nbsp;устройство Посетителя или Пользователя в&nbsp;момент доступа к&nbsp;Сайту. Посетитель и&nbsp;Пользователь уведомляются об&nbsp;использовании Компанией технологии «cookie» посредством настоящего Пользовательского соглашения. Продолжение использования Посетителем и/или Пользователем сервисов Сайта будет расценено Компанией как согласие указанных лиц на&nbsp;использование в&nbsp;отношении их действий на&nbsp;Сайте технологии «cookie».
    </p>
    <p>
        7.8. Файлы cookie, сохраняемые  на&nbsp; устройстве Посетителя и/или Пользователя:
    </p>
    <p>
        7.8.1. Некоторые файлы «cookie» сохраняются на&nbsp;устройство Посетителя и/или Пользователя в&nbsp;момент входа на&nbsp;Сайт и&nbsp;сохраняются до&nbsp;конца данной конкретной сессии работы в&nbsp;браузере. при&nbsp;закрытии браузера эти файлы  «cookie» становятся ненужными и&nbsp;автоматически удаляются. Такие файлы «cookie» называются «сеансовыми».
    </p>
    <p>
        7.8.2. Некоторые файлы «cookie» сохраняются на&nbsp;устройстве Посетителя и/или Пользователя и&nbsp;в промежутке между сессиями работы в&nbsp;браузере — они не&nbsp;удаляются после закрытия браузера. Такие файлы «cookie» называются «постоянными». Срок хранения постоянных файлов «cookie» на&nbsp;устройстве различается для&nbsp;разных файлов «cookie».
    </p>
    <p>
        7.8.3. Компания использует постоянные файлы «cookie» в&nbsp;следующих целях: для&nbsp;статистики посещения Сайта, возврата на&nbsp;Сайт, статистики изменения предпочтений и&nbsp;характера использования сервисов Сайта, а&nbsp;также для&nbsp;оценки эффективности и&nbsp;производительности сервисов Сайта, аналитике ошибок сервисов Сайта.
    </p>
    <p>
        7.9. Посетители и&nbsp;Пользователи Сайта могут выразить свой отказ от&nbsp;применения технологии «cookie» путем внесения изменений в&nbsp;настройки используемого ими Интернет-браузера, позволяющих блокировать файлы «cookie» или предупреждать Посетителя и/или Пользователя, когда файлы данного типа будут отправлены на&nbsp;устройство, с&nbsp;которого был осуществлен вход на&nbsp;Сайт. Если для&nbsp;просмотра и&nbsp;доступа к&nbsp;Сайту Посетителем и/или Пользователем используются различные устройства (например, компьютер, смартфон, планшет и&nbsp;тому подобные устройства), то&nbsp;указанным лицам необходимо убедиться, что каждый Интернет-браузер на&nbsp;каждом устройстве настроен в&nbsp;соответствии с&nbsp;точкой зрения Посетителя и/или Пользователя на&nbsp;работу с&nbsp;файлами «cookie».
    </p>
    <p>
        7.10. до&nbsp;тех пор, пока Посетитель и/или Пользователь своими действиями не&nbsp;выразит отказа от&nbsp;использования Компанией в&nbsp;отношении его действий на&nbsp;Сайте технологии «cookie», данные файлы «cookie» будут сохраняться на&nbsp;устройство Посетителя и/или Пользователя, с&nbsp;которого был выполнен вход на&nbsp;Сайт.
    </p>
    <p>
        7.11. Компания имеет право передавать информацию об&nbsp;ip-адресах Посетителей и&nbsp;Пользователей Сайта своим партнерам и&nbsp;третьим лицам, имеющим заключенные с&nbsp;Компанией договоры, для&nbsp;исполнения обязательств перед Посетителем и&nbsp;Пользователем.
    </p>

    <h3 class="h3-ua">8. Заключительные положения</h3>
    <p>
        8.1. Настоящее Пользовательское соглашение регулируется нормами действующего российского законодательства.
    </p>
    <p>
        8.2. Настоящее Пользовательское соглашение распространяется на&nbsp;Посетителей и&nbsp;Пользователей.
    </p>
    <p>
        8.3. Все возможные споры относительно настоящего Пользовательского соглашения разрешаются согласно нормам действующего российского законодательства.
    </p>
    <p>
        8.4. Ввиду предоставления Пользователями своих персональных данных при&nbsp;регистрации на&nbsp;Сайте, Компанией совершает действия, направленные на&nbsp;сбор, запись, хранение и&nbsp;систематизацию указанных данных физических лиц с, предусмотренных настоящим Пользовательским соглашением, соблюдением требований, предусмотренных Федеральным законом от&nbsp;27.07.2006 N 152-ФЗ «О персональных данных», и&nbsp;в соответствии с&nbsp;разработанной Компанией <a href="#">Политикой конфиденциальности</a>.
    </p>

</div>