@{
    ViewBag.Title = "Dominos Pizza - Вакансии";
}

<style>
    .square2 {
        width: 400px;
        height: 300px;
        position: absolute;
        right: 200px;
</style>
<h3 class="h3-ua">Тут вы можете ознакомиться с правилами работы на каждой из предложенных должностей, а также заполнить резюме при желании работать с нами.</h3>

<div class="square2">
    <div class="row" style="vertical-align:top">
        <h2 class="h2-ua">Хотите работать с нами?</h2>
        
        <div class="col-md-10">
            <h3 class="h3-ua"><a class="dark-red-curved" href="~/Home/Feedback"><img src="~/img/Resume.png" width="80" alt="Очень хочу!">Хочу работать!</a></h3>
        </div>
    </div>
</div>

<div class="body-content">
    <h1 class="h1-ua">Вакансии</h1>
     <div class="row" style="vertical-align:top">
         <div class="col-md-10">
             <h3 class="h3-ua"><a class="dark-red-curved" href="~/Home/Cook"><img src="~/img/Cook.png" width="80" alt="Описание">Повар</a></h3>
         </div>
    </div>

    <div class="row" style="vertical-align:top">
        <div class="col-md-10">
            <h3 class="h3-ua"><a class="dark-red-curved" href="~/Home/Courier"><img src="~/img/Courier.png" width="80" alt="Описание">Курьер</a></h3>
        </div>
    </div>

    <div class="row" style="vertical-align:top">
        <div class="col-md-10">
            <h3 class="h3-ua"><a class="dark-red-curved" href="~/Home/Manager"><img src="~/img/Manager.png" width="80" alt="Описание">Менеджер</a></h3>
        </div>
    </div>

</div>