@model DominoPizza.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему управления пиццерией Dominos Pizza";
    Layout = "~/Views/Crmpanel/_Layout.cshtml";
}
   <div id="wrapper">
            <form name="login-form" class="login-form" action="/Crmpanel/Index" method="post">
                @Html.AntiForgeryToken()
                <div class="header">
                    <h1>Dominos Pizza</h1>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="content">
                    <img src="~/img/user-icon.png" />&nbsp;&nbsp;@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input username", placeholder = "Имя Пользователя", type = "text", onclick = "this.value='';" } })
                    <img src="~/img/pass-icon.png" />&nbsp;&nbsp;@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input password", placeholder = "****************", type = "password", onclick = "this.value='';" } })
                </div>
                <div class="footer">
                    <input type="submit" name="submit" value="ВОЙТИ" class="button" />
                </div>
            </form>
        </div>