@using DominosPizza.Models
@model List<Task>

@{
    Layout = "~/Views/Crmpanel/_LayoutKitchen.cshtml";
    var db = new DominosContext();
    var taskrows = db.TaskRows.ToList();
    var products = db.Products.ToList();
}


    @foreach (var item in Model)
    {
        if (item.TaskStatus == "kitchen")
        {
            
                <!-- если заказ не завершен или не отменен, то вывести список текущих заказов -->
            
                    <section class="panel col-sm-4">
                        <header class="panel-heading">
                            <h2 class="panel-title">Заказ № @item.TaskId</h2>
                        </header>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                <thead>
                                <tr>
                                    <th class="col-sm-5">Продукт</th>
                                    <th class="col-sm-1 text-center">Колличество</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var row in taskrows)
                                    {
                                        if (row.TaskId == item.TaskId)
                                        {
                                            <tr>
                                                <td>@row.Product.ProductName</td>
                                                <td class="text-center">@row.Quantity</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table><br/>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <footer class="footer">
                                <div class="row">
                                    <div class="col-sm-12 col-sm-offset-1">
                                        <a href="~/Crmpanel/KitchenDelivery/@item.TaskId" type="button" class="btn btn-primary">Отправить в доставку</a>
                                        <a href="#" type="button" class="btn btn-danger">Вернуть менеджеру</a>
                                    </div>
                                </div>
                            </footer>
                        }
                        </div>
                    </section>
            }

    }