@model DominoPizza.Models.LoginModel

@{
    ViewBag.Title = "Управление сотрудниками пиццерии Dominos Pizza";
    Layout = "~/Views/Crmpanel/_LayoutManage.cshtml";
}

<h1>Список текущих заказов:</h1>

