@model DominoPizza.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему управления пиццерией Dominos Pizza";
    Layout = "~/Views/Crmpanel/_Layout.cshtml";
}

    <div class="container">
        <h1 class="head__block_phone">Dominos Pizza<span>Управление сотрудниками</span></h1>
        тут будет добавление удаление и редактирование пользователей
    </div>
