@model DominoPizza.Models.LoginModel

@{
    ViewBag.Title = "Управление сотрудниками пиццерии Dominos Pizza";
    Layout = "~/Views/Crmpanel/_Layout.cshtml";
}

<div class="navbar navbar-rospizza navbar-fixed-top">
    <div class="container head__container">
        <div class="head__block_pizza">
            <p>Dominos Pizza:</p>
        </div>
        <div class="head__block_pizza">
            <p>Управление сотрудниками</p>
        </div>
        
    </div>
    <div>
        @Html.ActionLink("Добавить сотрудника", "Register", "Crmpanel")
    </div>
</div>


