@using DominosPizza.Models
@model IEnumerable<Task>

@{
    Layout = "~/Views/Crmpanel/_LayoutDelivery.cshtml";
    var db = new DominosContext();
}

<div>
    <section id="deliv" class="panel">
        @{}
        @*@foreach (var task in Model)
            { }*@
        <header class="panel-heading">
            <h2 class="panel-title">Чек №_номер заказа_ </h2>
            <h3 class="panel-title">_дата_</h3>
            <h3 class="panel-title">_время_</h3>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-default" style="width:500px;">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        @*<th>Адрес доставки</th>
                        <th>Чек</th>
                        <th>Статус</th>*@
                    </tr>
                    </thead>
                <tbody>
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                    </tr>
                    </tbody>

            </table>

            <h2 class="panel-title">ИТОГО</h2>
        </div>
        
    </section>
</div>