@model DominosPizza.Models.Product

@{
    Layout = "~/Views/Shared/_LayoutStaffOnly.cshtml";
    ViewBag.Title = "Index";
}
<!--ПРИЕМ ЗАКАЗОВ-->
@if (User.Identity.IsAuthenticated && ViewBag.user.UserRoleId == 2)
{
    <br />
        <!--место для загрузки Partial View c деталями-->
    <div id="ModalshowTaskDetail" class=" ModalshowTaskDetail" style="width: 100%;margin-bottom:40px; display: none; background-color: #efefef;">

        <div id="showTaskDetail" class="showTaskDetail" style="height: 100%;"></div>

        <button id="closeComments" class="btn btn-danger" onclick="hideDetails()" style="position:absolute; right:15px;top:75px;">
            <span class="glyphicon glyphicon-remove"></span>
        </button>

    </div>
    <!--конец места для загрузки деталей-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br />
                <div class="form-group-row">
                    <div style=" display: flex; justify-content: space-between; width: 500px;">
                        <select id="productId" class="form-control" name="OptionName" style=" width: 350px; max-width: 350px;">
                            @foreach (KeyValuePair<int, string> product in ViewBag.prod)
                            {
                                <option value="@product.Key">@product.Value</option>
                            }
                        </select>
                        <button id="addtocartbtn" class="btn btn-success">добавить к заказу</button>

                    </div><br />
                </div>

                <input type="hidden" id="xamount" name="x" value="1" />

                <br />
                <br />

                <div id="tableContainer"></div>


            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data" action="/Manager/NewTaskFromCart">
                        <label for="TaskDeliveryCustomerPhone">Телефон</label><br />
                        <input class="form-control" type="text" id="TaskDeliveryCustomerPhone" name="TaskDeliveryCustomerPhone" /><br />

                        <label for="TaskDeliveryCustomerAddress">Адрес доставки</label><br />
                        <input class="form-control" type="text" id="TaskDeliveryCustomerAddress" name="TaskDeliveryCustomerAddress" /><br />

                        <label for="TaskDeliveryCustomerName">ФИО</label><br />
                        <input class="form-control" type="text" id="TaskDeliveryCustomerName" name="TaskDeliveryCustomerName" /><br />

                        <label for="TaskPaymentMethod">Способ платежа</label><br />
                        <select class="form-control" id="TaskPaymentMethod" name="TaskPaymentMethod">
                            <option value="1">Картой на сайте</option>
                            <option value="2">Картой курьеру</option>
                            <option value="3">Наличными</option>
                        </select>
                        <br />
                        <label for="TaskDeliveryCustomerName">Комментарий к заказу</label><br />
                        <input class="form-control" type="text" id="CustomerComment" name="CustomerComment" value="Самый лучший комментарий" /><br />
                        <input class="btn btn-danger" type="submit" value="отправить заказ" />
                    </form>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="hrcustom"> </div>
        @*<button id="ShowTasksTable" class="ShowTasksTable">просмотр заказов</button>*@
        <div id="TasksTable" class="TasksTable"></div>



        <!--место для загрузки Partial View c чатом-->
        <button id="commentsShow-" class="openChat"><span class="glyphicon glyphicon-chevron-up"></span></button>
        <div id="chatIndicator1" style="right: 158px;" class="chatIndicators"></div>
        <div id="chatIndicator2" class="chatIndicators"></div>

        <div id="comments-modal" class="comments-modal-manager">
            <div class="comments-manager-leftPanel">
                <div class="comments-window-manager-left">
                    <div id="OnlineChatList"><img src="~/img/sectorPizza3.gif" /></div>
                </div>
            </div>
            <div class="comments-manager-rightPanel">
                <div class="comments-window-manager-right">
                    <div id="OnlineChatDialog"><img src="~/img/sectorPizza3.gif" /></div>
                </div>
                <textarea id="NewMessageTextArea-manager" class="NewMessageTextArea-manager" placeholder="введите здесь текст сообщения и нажмите на кнопку &laquo;отправить&raquo;"></textarea>
                <div class="SendMessage-manager">
                    <div>
                        <button id="AddNewMessage-" class="sendMessageButton" title="отправить">отправить</button>
                    </div>
                    <button id="closeComments-manager" class="closeChat" onclick="hideChat()">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
            </div>
        </div>
        <!--конец чата-->
    </div>
}
else
{
    <div class="container">
        <div style="z-index: 1000; background-color: white; position: fixed; top:0;left:0; display:flex; justify-content:center; align-items:center; width:100%;height:100%;">
            <div class="well" style="width: 320px; padding: 15px;">
                <br />
                <p style="text-align:center; font-size: .9em;">Для работы в системе вам необходимо</p><br />
                <a class="btn btn-success" style="width: 290px; font-size: 1.4em;" href="/Users/Auth">войти</a>
                <br /><br />
            </div>
        </div>
    </div>
}


    <script src="/Scripts/jquery-1.10.2.js"></script>
    <!--AJAX showTask-->
    <script type="text/javascript">
        var oldHtml5;
        $(document).ready(function () {
                timerId = setTimeout(function swap() {

                    $.ajax({
                        url: "/Manager/ShowTasksTable",
                        dataType: "html",
                        type: "POST",
                        success: function (data) {
                            if (data != oldHtml5) {
                                oldHtml5 = data;
                                $("#TasksTable").html(data);
                            }
                        }
                    });
                    timerId = setTimeout(swap, 2000);
                }, 100);
            
        });
    </script>

    <!--ПЛЮС и МИНУС----->
    <script type="text/javascript">
        function plus(id) {
            var uid = parseInt(id.slice(5));
            var tdam = document.getElementById("tdamount-" + uid);
            var am = document.getElementById("amount-" + uid);
            var preSum = document.getElementById("preSum-" + uid);
            var preSumValue = document.getElementById("preSumValue-" + uid);
            var price = document.getElementById("price-" + uid);
            var itogValue = document.getElementById("itogValue");
            var itogVisible = document.getElementById("itogVisible");
            var itog = parseInt(itogValue.value, 10);
            am.value = parseInt(am.value, 10) + 1;
            tdam.innerHTML = am.value;
            var preSumNum = parseInt(preSumValue.value, 10) + parseInt(price.value, 10);
            preSum.innerHTML = preSumNum;
            preSumValue.value = preSumNum;
            itog = itog + parseInt(price.value, 10);
            itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>";
            itogValue.value = itog;
        }
        function minus(id) {
            var uid = parseInt(id.slice(5));
            var tdam = document.getElementById("tdamount-" + uid);
            var am = document.getElementById("amount-" + uid);
            var preSum = document.getElementById("preSum-" + uid);
            var preSumValue = document.getElementById("preSumValue-" + uid);
            var price = document.getElementById("price-" + uid);
            var itogValue = document.getElementById("itogValue");
            var itogVisible = document.getElementById("itogVisible");
            var j = parseInt(am.value, 10);
            if (j > 1) {
                var itog = parseInt(itogValue.value, 10);
                am.value = j - 1;
                tdam.innerHTML = am.value;
                var preSumNum = parseInt(preSumValue.value, 10) - parseInt(price.value, 10);
                preSum.innerHTML = preSumNum;
                preSumValue.value = preSumNum;
                itog = itog - parseInt(price.value, 10);
                itogVisible.innerHTML = itog + "&nbsp;<span>&#8381;</span>";
                itogValue.value = itog;
            }
        }
        $("button").click(function (event) {

            if (this.id == "addtocartbtn") {
                event.preventDefault();

                $.ajax({
                    url: "/Manager/AddtoCart",
                    dataType: "html",
                    data: {
                        productId: parseInt($("#productId").val()),
                        amount: parseInt($("#xamount").val())
                    },
                    type: "POST",
                    success: function (data) {
                        $("#tableContainer").html(data);
                    }
                });
            }
        });
    </script>
    <!--AJAX изменение кол-ва-->
    <!--AJAX загрузка комментов-->
    <script type="text/javascript">
        var taskId = 0;
        $("#tableContainer").on('click', 'button', function (event) {
            if ($(this).hasClass("plus") || $(this).hasClass("mins") || $(this).hasClass("dels")) {
                event.preventDefault();
                var pid = parseInt(this.id.slice(5), 10);
                var temp = "#val-" + pid;
                var temp2 = "#amount-" + pid;
                var priceEl = "#preSumValue-" + pid;
                var price = parseInt($(priceEl).val());
                var id = parseInt($(temp).val());
                var qua = parseInt($(temp2).val());
                if ($(this).hasClass("dels")) {
                    qua = 0;
                    var temp3 = "#row-" + pid;
                    var i = parseInt($(temp3).children(":first").text(), 10);
                    $(temp3).nextAll().each(function (index) {
                        $(this).children(":first").text(index + i);
                    });
                    $(temp3).remove();
                    $("#itogVisible").html(parseInt(($("#itogValue").val()) - price) + "&nbsp;<span>&#8381;</span>");
                    $("#itogValue").val(parseInt($("#itogValue").val()) - price);
                }
                $.ajax({
                    url: "/Manager/CartChangeQuantity",
                    dataType: "json",
                    data: {
                        productId: id,
                        amount: qua
                    },
                    type: "POST",
                    success: function (data) {

                    }

                });
            }
        });
        //, "width": "100%", "height": "100%", "position": "fixed", "top": "0", "left": "0"
        function ShowDetails(event, t) {
            event.preventDefault();
            if (t.id.slice(0, 16) == "showTaskDetails-") {
                event.preventDefault();
                $("#ModalshowTaskDetail").css({
                    "display": "block"
                });
                taskId = parseInt(t.id.slice(16));
                $.ajax({
                    url: "/Manager/ShowTaskDetails",
                    dataType: "html",
                    data: {
                        taskId: taskId,
                    },
                    type: "POST",
                    success: function (data) {
                        $("#showTaskDetail").html(data);
                        $("html, body").animate({ scrollTop: 0 }, 500);
                    }
                });
            }
        }
        function isDone(event, t) {
            event.preventDefault();

            if (t.id.slice(0, 7) == "isDone-") {

                taskId = parseInt(t.id.slice(7));
                $("#ModalshowTaskDetail").css({ "display": "none" });
                $.ajax({
                    url: "/Manager/TaskDone",
                    dataType: "json",
                    data: {
                        taskId: taskId,
                    },
                    type: "POST",
                    success: function (data) {
                        console.log(data.Data);
                        
                    }
                });
            }
        }
        function addComment(event, t){
            event.preventDefault();
            //$("#comments-modal").css({
            //    "display": "block", "overflow": "hidden", "flex-direction": "column", "display": "flex", "justify-content": "center", "vertical-align": "top"
            //});
            var taskId = parseInt(t.id.slice(13)); //значение остаётся от функции открытия окна комментов
            var newCommentText = $("#NewCommentTextA").val();
            $.ajax({
                url: "/Messaging/AddNewComment",
                dataType: "json",
                data: {
                    taskId: taskId,
                    CommentText: newCommentText
                },
                type: "POST",
                success: function (data) {
                    if (data.Data > 0) {
                        $.ajax({
                            url: "/Manager/ShowTaskDetails",
                            dataType: "html",
                            data: {
                                taskId: taskId,
                            },
                            type: "POST",
                            success: function (data) {
                                $("#showTaskDetail").html(data);

                            }
                        });
                    }
                }
            });
        }
        function hideDetails() {
            $("#ModalshowTaskDetail").css({ "display": "none" });
        }
</script>

@*-----скрипты чата----*@

<script src="/Scripts/jquery-1.10.2.js"></script>
@*<script src="/Scripts/js.cokie/js.cookie.js"></script>*@
<script type="text/javascript">
        var taskId = 0;
        var onlineChatUniqueId = "empty";
        var timerId;
        var timerId2;
        var timerId3;
        var oldHtml;
        var oldHtml2;

        $(".comments-manager-leftPanel").on("click", ".chatList-chats", function (event) {

            if (this.id.slice(0, 15) == "chatList-chats-") {
                event.preventDefault();
                onlineChatUniqueId = this.id.slice(15);
                //Cookies.set("chatId", onlineChatUniqueId);
                $(this).siblings().css({ "border": "none", "background-color": "#efefef" });
                $(this).siblings().find("p").css({ "color": "#898989" });
                $(this).css({ "color": " #ffffff", "border": "1px solid #ffffff", "background-color": "rgba(255,255,255,0)" });
                $(this).find("p").css({ "color": " #ffffff" });

                $.ajax({
                    url: "/Messaging/ShowDialogManager",
                    dataType: "html",
                    data: {
                        onlineChatUniqueId: onlineChatUniqueId
                    },
                    type: "POST",
                    success: function (data) {
                        var h5;
                        var sumh5 = 20;
                        $("#OnlineChatDialog").html(data);
                        $("#OnlineChatDialog").css({ "justify-content": "flex-start" });
                        $("#OnlineChatDialog").css({ "height": "10000%" });
                        $(".messageInChat").each(function () {
                            h5 = parseInt(- $(this).offset().top + $(this).find("p:last").offset().top + $(this).find("p:last").height()) + 25;
                            $(this).css({ "height": h5, "background-color": "white" });
                            sumh5 += h5 + 20;
                            $("#OnlineChatDialog").css({ "height": sumh5 });
                        });
                    }
                });
            }
        });
        $("button").click(function (event) {
            if (this.id.slice(0, 13) == "commentsShow-") {
                event.preventDefault();
                $("#comments-modal").css({
                    "display": "block", "overflow": "hidden", "flex-direction": "column", "display": "flex", "justify-content": "center", "vertical-align": "top"
                });
                $("#chatIndicators").css({ "opacity": "0" });

                timerId = setTimeout(function swap() {

                    //               if (Cookies.get("chatId") != null) { onlineChatUniqueId = Cookies.get("chatId"); }

                    $.ajax({
                        url: "/Messaging/ShowChat",
                        dataType: "html",
                        //                               data: {
                        //                                   onlineChatUniqueId: onlineChatUniqueId
                        //                              },
                        type: "POST",
                        success: function (data) {
                            if (data != oldHtml2) {
                                oldHtml2 = data;

                                $("#OnlineChatList").html(data);
                                $("#OnlineChatList").css({ "justify-content": "flex-start" });
                                if (!(onlineChatUniqueId == "empty" || onlineChatUniqueId == undefined)) {
                                    //if ( !(Cookies.get("chatId") == "empty" || Cookies.get("chatId") == undefined )) {
                                    var temp = "chatList-chats-" + onlineChatUniqueId;
                                    $(".chatList-chats").each(function () {
                                        if (this.id == temp) {
                                            $(this).css({ "border": "1px solid #ffffff", "background-color": "rgba(255,255,255,0)" });
                                            $(this).find("p:first").css({ "color": " #ffffff" });
                                        }
                                    });
                                }
                                else {

                                    onlineChatUniqueId = $(".chatList-chats").attr("id").slice(15);

                                    console.log(onlineChatUniqueId);
                                    var temp = "chatList-chats-" + onlineChatUniqueId;
                                    $(".chatList-chats").each(function () {
                                        if (this.id == temp) {
                                            $(this).css({ "border": "1px solid #ffffff", "background-color": "rgba(255,255,255,0)" });
                                            $(this).find("p:first").css({ "color": " #ffffff" });
                                        }
                                    });
                                    //Cookies.set("chatId", onlineChatUniqueId);
                                }
                            }
                        }
                    });

                    timerId = setTimeout(swap, 2000);
                }, 500);

                //if (Cookies.get("chatId") != null) {
                //    onlineChatUniqueId = Cookies.get("chatId");

                timerId2 = setTimeout(function swap2() {
                    //Cookies.set("chatId", onlineChatUniqueId);
                    $.ajax({
                        url: "/Messaging/ShowDialogManager",
                        dataType: "html",
                        data: {
                            onlineChatUniqueId: onlineChatUniqueId
                        },
                        type: "POST",
                        success: function (data) {
                            if (data == "{\"Data\":0}") { data = " "; }
                            if (data != oldHtml) {
                                oldHtml = data;
                                var h5;
                                var sumh5 = 20;
                                $("#OnlineChatDialog").html(data);
                                $("#OnlineChatDialog").css({ "justify-content": "flex-start" });
                                $("#OnlineChatDialog").css({ "height": "10000%" });
                                $(".messageInChat").each(function () {
                                    h5 = parseInt(- $(this).offset().top + $(this).find("p:last").offset().top + $(this).find("p:last").height()) + 25;
                                    $(this).css({ "height": h5, "background-color": "white" });
                                    sumh5 += h5 + 20;
                                    $("#OnlineChatDialog").css({ "height": sumh5 });
                                });
                            }
                        }
                    });
                    timerId2 = setTimeout(swap2, 3000);
                }, 1000);
            }


            if (this.id == "AddNewMessage-") {
                event.preventDefault();
                //            var taskId = parseInt(this.id.slice(13)); //значение остаётся от функции открытия окна комментов
                var newCommentText = $("#NewMessageTextArea-manager").val();
                //            if (Cookies.get("chatId") != null) onlineChatUniqueId = Cookies.get("chatId");
                $.ajax({
                    url: "/Messaging/AddNewMessageToChat",
                    dataType: "json",
                    data: {
                        onlineChatUniqueId: onlineChatUniqueId,
                        customerId: 1,
                        userId: 1,
                        messageByManager: true,
                        messageText: newCommentText
                    },
                    type: "POST",
                    success: function (data) {
                        $("#NewMessageTextArea-manager").val("");
                    }
                });
            }
        });

        var ind1;
        var ind2;
        $(document).ready(function () {
            timerId3 = setTimeout(function swap3() {
                //Cookies.set("chatId", onlineChatUniqueId);
                $.ajax({
                    url: "/Messaging/ChatIndicators",
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        if (data.indicator1 != ind1) { ind1 = data.indicator1; $("#chatIndicator1").html(data.indicator1); }
                        if (data.indicator2 != ind2) { ind2 = data.indicator2; $("#chatIndicator2").html(data.indicator2); }
                    }
                });
                timerId3 = setTimeout(swap3, 1000);
            }, 1000);
        });

        function hideChat() {
            clearInterval(timerId);
            clearInterval(timerId2);
            $("#comments-modal").css({ "display": "none" });
            //        $("#comment-PartialView").html("<img style=\"width: 100px; height: 100px; margin-left: 90px; opacity: 0.5; \" src=\"img/sectorPizza3.gif\" />");
            //        $("#comment-PartialView").css({ "width": "100%", "height": "100%", "display": "flex", "flex-direction": "column", "justify-content": "center" });
            $(".chatIndicators").css({ "opacity": "1" });
        }
</script>







